body {
    display: flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}


#grid {
    
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 50px;
    border: 1px solid black;
}

.box-row {
    display: flex;
    flex: 1 1 0;
    
}

.box-cell {

    flex: 1 1 0;

}

